body {
    position: relative;
    margin: 0;
}
#canvas {
    background-color: #fff;
    display: block;
}
#canvas.pencil {
    cursor: url("./assets/pencil.ico"), auto;
}
#canvas.pen {
    cursor: url("./assets/pen.ico"), auto;
}
#canvas.brush {
    cursor: url("./assets/brush.ico"), auto;
}
#canvas.eraser {
    cursor: url("./assets/eraser.ico"), auto;
}
.actions {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: none;
    border-radius: 0 0 5px 5px;
    display: flex;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.1);
}
.actions .icon {
    height: 40px;
    width: 40px;
    transition: all 0.3s;
}
.action {
    padding: .5em 1em;
}
.action.active>.icon {
    fill: #21c00d;
    transform: scale(1.3);
}
.action>.icon:hover {
    cursor: pointer;
    transform: scale(1.3);
}
#palette .color {
    display: block;
    height: 20px;
    width: 50px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    border:0;
    outline:0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
input{
    border:0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: 0;
}
#save .icon {
    fill: #3d9afe;
}
#clear .icon {
    fill: #d81e06;
}
@media (max-width: 768px) {
   .actions {
       /*border: 1px solid red;*/
   }
    .actions .icon {
        height: 30px;
        width: 30px;
        transition: all 0.3s;
    }
    .action {
        padding: .5em .5em;
    }
}